.header {
  margin: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  background: $vintage;

  i {
    color: $grey;
    &:focus {
      outline: none;
    }
    &:first-of-type {
      font-size: 25px;
    }
    &:nth-of-type(2) {
      font-size: 28px;
    }
  }
  .site-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    #logo {
      height: 35px;
      margin-left: 10px;
    }
  }
}
