<div class="card-body">
<h3>categories</h3>
  <div *ngFor="let charity of charities">

    <p>
      {{charity.charityName}}
      <br>
      {{charity.category}}
      <br>
      {{charity.websiteURL}}
      <br>
      {{charity.tag_line}}
      <br>
      {{charity.rating}}
      <br>
      <i (click)="saveFavorite(charity.charityName)" [class]="determineClicked(item)" class="fa fa-heart-o" aria-hidden="true"></i>
      <button (click)='showDetails(charity)' type="submit" name="button">More Info</button>
      <button (click)='selectedCharity = ""' type="submit" name="button">Hide Info</button>
    </p>
    <ng-container *ngIf="show && selectedCharity === charity">
      {{selectedCharity.mission}}
    </ng-container>
  </div>
</div>
<footer routerLink="../about">About</footer>
