<nav>
  <i routerLink="../charity-form" class="fa fa-search" aria-hidden="true"></i>
  <div class="site-logo">
    <img id="logo" src="../assets/logo.png">
    <h1>{{title}}</h1>
  </div>
  <i routerLink="../profile" class="fa fa-user-circle-o" aria-hidden="true"></i>
</nav>
<div class="about">
  <h2>About givemo</h2>
  <p> Givemo provides an answer to the question that nags at many of us: how do I make a real impact? Until now, there hasn't been an easy way for someone to find, favorite, and donate to charities that align with issues they care about. Givemo does this all in one convenient interface.</p>
  <h2>About the developers</h2>
  <div class="dev">
    <h3>Connor Larsen</h3>
    <img src="" alt="">
    <p>I am a born and raised Oregonian - I grew up outside of Corvallis, but moved to Portland for college in 2008 where I have been ever since. I spent the last five years working for Nike, most recently as a product merchant - a role that required me to be the eyes and ears of the consumer, teaching me a ton about consumer-centric strategy and design. The pursuit of a more creative career led me to Epicodus and the front end/design track. Upon completion I hope to find a role in UI/UX design.</p>
    <h3>Guy Anderson</h3>
    <img src="" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <h3>Kristen McKee</h3>
    <img src="" alt="">
    <p>I hail from California, where I earned my BA in Communication from Santa Clara University in 2007. After working at Google for several years, I decided to switch gears. I spent a winter in Lake Tahoe, snowboarding and blogging, then traveled through Thailand for a few weeks before moving to Portland in 2013. I currently live in Vancouver, WA and have spent the last few years working primarily as a makeup artist in the Portland area. Though I love the beauty industry, I can't wait to unleash my creativity on the tech world. My one-year-old daughter Cloa is my muse, my daily dose of sunshine, and the cleverest tiny human I know!</p>
    <h3>Nick Wise</h3>
    <img src="" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  </div>
</div>
<footer>
  <p routerLink="../about">about</p>
  <p>givemo <i class="fa fa-copyright" aria-hidden="true"></i> 2017</p>
</footer>
