<nav>
  <i routerLink="../charity-list" class="fa fa-search" aria-hidden="true"></i>
  <div class="site-logo">
    <h1>{{title}}</h1>
    <img id="logo" src="../assets/logo.png">
  </div>
  <i routerLink="../profile" class="fa fa-user" aria-hidden="true"></i>
</nav>
<div class="about-givemo">
  <h2>About givemo</h2>
  <p> Givemo provides a fun, social answer to the question that plagues many of us: How do I make a real impact? Until now, there hasn't been an easy way for a user to search local charities that align with the issues they care about, favorite and donate to them -- all in one convenient interface.</p>
</div>
<div class="about-dev">
  <h2>About the developers</h2>
  <div class="dev">
    <h3>Connor Larsen</h3>
    <img src="" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  </div>
  <div class="dev">
    <h3>Guy Anderson</h3>
    <img src="" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  </div>
  <div class="dev">
    <h3>Kristen McKee</h3>
    <img src="" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  </div>
  <div class="dev">
    <h3>Nick Wise</h3>
    <img src="" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  </div>
</div>
