@import '~bourbon/app/assets/stylesheets/_bourbon';
@import '~bourbon-neat/app/assets/stylesheets/_neat';
@import "abstracts/main";
@import "base/main";
@import "vendors/main";
@import "components/main";
@import "layout/main";
@import "pages/main";
@import "themes/main";

body {
  margin: 0;
  background: linear-gradient(45deg, darken($gold, 10%), lighten($cool-blue, 20%));
  background-repeat: no-repeat;
  height: 100vh;
}
