<nav>
  <i routerLink="../charity-form" class="fa fa-search" aria-hidden="true"></i>
  <div class="site-logo">
    <h1>{{title}}</h1>
    <img id="logo" src="../assets/logo.png">
  </div>
  <i routerLink="../profile" class="fa fa-user" aria-hidden="true"></i>
</nav>
<div class="profile-card">
  <p>{{userName}}</p>
  <img src="{{userPhoto}}">
  <h3>Favorites</h3>
    <div *ngFor="let savedCharity of savedCharities | async">
      <p>{{favoriteCharities.charityName}}</p>
      <button (click)="deleteCharity(savedCharity)">Delete Charity</button>
</div>
<button (click)="logout()">Logout</button>
<footer routerLink="../about">About</footer>
