<nav>
  <i routerLink="../charity-form" class="fa fa-search" aria-hidden="true"></i>
  <div class="site-logo">
    <img id="logo" src="../assets/logo.png">
    <h1>{{title}}</h1>
  </div>
  <i routerLink="../profile" class="fa fa-user-circle-o" aria-hidden="true"></i>
</nav>
<form>
  <div class="form-group">
    <input class="search-input" placeholder="Search by Name" #name>
    <i (click)="showCharityByName(name.value);" class="fa fa-search" aria-hidden="true"></i>
  </div>
  <div class="cause-checkboxes">
    <input (click)="showCharities([category1, category2, category3, category4, category5, category6, category7, category8])" id="category1" #category1 type="checkbox" name="isActive" value="1">
    <label for="category1">Animal</label>
    <input (click)="showCharities([category1, category2, category3, category4, category5, category6, category7, category8])" id="category2" #category2 type="checkbox" name="isActive" value="2">
    <label for="category2">Art & Culture</label>
    <input (click)="showCharities([category1, category2, category3, category4, category5, category6, category7, category8])" id="category3" #category3 type="checkbox" name="isActive" value="3">
    <label for="category3">Community</label>
    <input (click)="showCharities([category1, category2, category3, category4, category5, category6, category7, category8])" id="category4" #category4 type="checkbox" name="isActive" value="4">
    <label for="category4">Education</label>
    <input (click)="showCharities([category1, category2, category3, category4, category5, category6, category7, category8])" id="category5" #category5 type="checkbox" name="isActive" value="5">
    <label for="category5">Environment</label>
    <input (click)="showCharities([category1, category2, category3, category4, category5, category6, category7, category8])" id="category6" #category6 type="checkbox" name="isActive" value="6">
    <label for="category6">Health</label>
    <input (click)="showCharities([category1, category2, category3, category4, category5, category6, category7, category8])" id="category7" #category7 type="checkbox" name="isActive" value="7">
    <label for="category7">Human Rights</label>
    <input (click)="showCharities([category1, category2, category3, category4, category5, category6, category7, category8])" id="category8" #category8 type="checkbox" name="isActive" value="8">
    <label for="category8">Human Service</label>
  </div>
</form>

<!-- <div *ngIf="charities"> -->
  <app-charity-list [charities]="charities"></app-charity-list>
<!-- </div> -->
<footer>
  <p routerLink="../about">about</p>
  <p>givemo <i class="fa fa-copyright" aria-hidden="true"></i> 2017</p>
</footer>
