<nav>
  <i routerLink="../charity-form" class="fa fa-search" aria-hidden="true"></i>
  <div class="site-logo">
    <h1>{{title}}</h1>
    <img id="logo" src="../assets/logo.png">
  </div>
  <i routerLink="../profile" class="fa fa-user" aria-hidden="true"></i>
</nav>
<form>
  <div class="form-group">
    <label for="name">Organization Name</label>
    <input #name>
  </div>
  <input #category1 type="checkbox" name="isActive" value="1" >HealthCare<br>
  <input #category2 type="checkbox" name="isActive" value="2">ChildrenServices<br>

  <button (click)="showCharities([category1, category2]);">Show charities</button>

  <button (click)="showAllCharities();">Get Result</button>
</form>

<!-- <div *ngIf="charities"> -->
  <app-charity-list [charities]="charities"></app-charity-list>
<!-- </div> -->
