@import "reset";
@import "typography";

// * {
//   margin: 0;
//   padding: 0;
// }

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, darken($gold, 10%), lighten($cool-blue, 20%));
  background-repeat: no-repeat;
  height: 100vh;
}

app-root {
  margin: 0;
  padding: 0;
}
